body {
  background-color:darkolivegreen;
}

p {
  margin: 30%
}

img {
  height: 500px;
  width: 800px;
}

button {
  font-size: 24px;
}

.slider-text {
margin: 20px;
}

.faded {

filter:opacity(50%);
}
.filters {
  border: 1px dashed black;

}
.hidden {
  display: none;
}

.grayscale {
  filter: grayscale(1);
  transition: all 1s;
}

.sepia {
  filter: sepia(1);
  transition: all 1s;
}

.invert {
  filter:invert(1);
  transition: all 1s;
}

.hue {
  filter:hue-rotate(90deg);
  transition: all 1s;
}

.active {
  background-color:darkgrey;
} 

.outer-shell {
  border: 1px dashed black;
  width: 800px;
  height: 500px;
  margin-top: 5%;
  margin-left: 20%;

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 70px;

  transition: all 1s;
}

.tilt {
  object-position: center center;
  opacity: 1;
  border-radius: 8px;
  cursor: pointer;
}